[Unit]
Description="Apply kpatch kernel patches"
ConditionKernelCommandLine=!kpatch.enable=0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/kpatch load --all
ExecStop=/usr/sbin/kpatch unload --all

[Install]
WantedBy=multi-user.target
