[Unit]
Description=Agent daemon for Spice guests
After=dbus.target
Requires=spice-vdagentd.socket

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/spice-vdagentd
ExecStart=/usr/sbin/spice-vdagentd $SPICE_VDAGENTD_EXTRA_ARGS
PIDFile=/var/run/spice-vdagentd/spice-vdagentd.pid
PrivateTmp=true
Restart=on-failure

[Install]
Also=spice-vdagentd.socket
