[Unit]
Description=Virtual machine lock manager socket
Before=libvirtd.service

[Socket]
ListenStream=/var/run/libvirt/virtlockd-sock

[Install]
WantedBy=sockets.target
